<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>New item</key>
	<string></string>
	<key>MainMenu</key>
	<array>
		<dict>
			<key>pageID</key>
			<string>QMorePage</string>
			<key>menuIcon</key>
			<string>menu_body_setting_n.png</string>
			<key>menuName</key>
			<string>Settings    </string>
		</dict>
	</array>
	<key>BottomMenu</key>
	<array>
		<dict>
			<key>pageID</key>
			<string>QHomePage</string>
			<key>menuIcon</key>
			<string>menu_home.png</string>
			<key>menuName</key>
			<string>首页</string>
		</dict>
		<dict>
			<key>pageID</key>
			<string>QBusinessPage</string>
			<key>menuIcon</key>
			<string>menu_busin.png</string>
			<key>menuName</key>
			<string>商家</string>
		</dict>
		<dict>
			<key>pageID</key>
			<string>QMyPage</string>
			<key>menuIcon</key>
			<string>menu_mine.png</string>
			<key>menuName</key>
			<string>我的</string>
		</dict>
		<dict>
			<key>pageID</key>
			<string>QMorePage</string>
			<key>menuIcon</key>
			<string>menu_more.png</string>
			<key>menuName</key>
			<string>更多</string>
		</dict>
	</array>
	<key>HomeCategory</key>
	<array>
		<dict>
			<key>categoryOrder</key>
			<string>1</string>
			<key>categoryIcon</key>
			<string>CategoryNew_0</string>
			<key>categoryName</key>
			<string>洗车</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>2</string>
			<key>categoryIcon</key>
			<string>CategoryNew_1</string>
			<key>categoryName</key>
			<string>今日新单</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>10</string>
			<key>categoryIcon</key>
			<string>CategoryNew_2</string>
			<key>categoryName</key>
			<string>抛光美容</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>36</string>
			<key>categoryIcon</key>
			<string>CategoryNew_3</string>
			<key>categoryName</key>
			<string>维修服务</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>18</string>
			<key>categoryIcon</key>
			<string>CategoryNew_4</string>
			<key>categoryName</key>
			<string>快速补漆</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>23</string>
			<key>categoryIcon</key>
			<string>CategoryNew_5</string>
			<key>categoryName</key>
			<string>装潢改装</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>6</string>
			<key>categoryIcon</key>
			<string>CategoryNew_6</string>
			<key>categoryName</key>
			<string>保养</string>
		</dict>
		<dict>
			<key>categoryOrder</key>
			<string>0</string>
			<key>New item</key>
			<string></string>
			<key>categoryIcon</key>
			<string>CategoryNew_7</string>
			<key>categoryName</key>
			<string>更多分类</string>
		</dict>
	</array>
	<key>Base_Color</key>
	<string>255,0,0</string>
	<key>SoftVersion</key>
	<string>V1.00.000</string>
</dict>
</plist>
